numpy
torch
torchvision
torchaudio
pytorch-lightning
segmentation-models-pytorch
opencv-python
scikit-image
scipy
tqdm
zarr==2.18.7
numcodecs
numba
webknossos
pytorch-warmup
webknossos[all]==0.16.2
warmup_scheduler
transformer_engine[pytorch]
einops