pandocfilters==1.5.1
jupyterlab_widgets==3.0.13
fsspec==2025.3.2
debugpy==1.8.13
sniffio==1.3.1
jupyterlab==4.3.6
traceback2==1.4.0
mpmath==1.3.0
zarr==2.18.3
monai==1.4.0
notebook_shim==0.2.4
importlib_metadata==8.6.1
aiohappyeyeballs==2.6.1
Send2Trash==1.8.3
jupyter==1.1.1
asciitree==0.3.3
cffi==1.17.1
jupyter-events==0.12.0
jupyter_server_terminals==0.5.3
certifi==2025.1.31
jupyter-lsp==2.2.5
rpds-py==0.24.0
wandb==0.19.9
prompt_toolkit==3.0.50
h11==0.14.0
networkx==3.4.2
typing-inspection==0.4.0
tornado==6.4.2
opencv-python-headless==4.11.0.86
json5==0.12.0
graphviz==0.20.3
torchaudio==2.4.0
jupyterlab_server==2.27.3
rfc3986-validator==0.1.1
webencodings==0.5.1
blosc2==3.0.0b4
webcolors==24.11.1
PyYAML==6.0.2
zict==3.0.0
unittest2==1.1.0
notebook==7.3.3
lxml==5.3.1
httpcore==1.0.7
types-python-dateutil==2.9.0.20241206
rfc3339-validator==0.1.4
Pygments==2.19.1
propcache==0.3.1
py-cpuinfo==9.0.0
jsonschema==4.23.0
overrides==7.7.0
tzdata==2025.2
prometheus_client==0.21.1
executing==2.2.0
bleach==6.2.0
wcwidth==0.2.13
distributed==2025.3.0
referencing==0.36.2
fqdn==1.5.1
protobuf==5.29.4
async-timeout==5.0.1
platformdirs==4.3.7
wheel==0.45.1
argparse==1.4.0
pyzmq==26.4.0
torchvision==0.19.0
nibabel==5.3.2
soupsieve==2.6
scikit-learn==1.6.1
jedi==0.19.2
tqdm==4.67.1
babel==2.17.0
stack-data==0.6.3
pip==25.0
dicom2nifti==2.6.0
defusedxml==0.7.1
docker-pycreds==0.4.0
toolz==1.0.0
cycler==0.12.1
huggingface-hub==0.30.1
linecache2==1.0.0
pytz==2025.2
importlib_resources==6.5.2
setuptools==75.8.0
PIMS==0.7
pydantic_core==2.33.1
frozenlist==1.5.0
typing_extensions==4.12.2
idna==3.7
aiohttp==3.11.16
threadpoolctl==3.6.0
psutil==7.0.0
sympy==1.13.3
zipp==3.21.0
argon2-cffi==23.1.0
numpy==1.26.4
matplotlib==3.10.1
pynrrd==1.1.3
urllib3==2.3.0
pexpect==4.9.0
batchgeneratorsv2==0.2.1
traitlets==5.14.3
kiwisolver==1.4.8
numcodecs==0.13.1
tomli==2.2.1
setproctitle==1.3.5
jsonpointer==3.0.0
smmap==5.0.2
jupyter_server==2.15.0
packaging==24.2
gitdb==4.0.12
jsonschema-specifications==2024.10.1
matplotlib-inline==0.1.7
msgpack==1.1.0
ipython==8.34.0
triton==3.0.0
tinycss2==1.4.0
pydantic==2.11.2
pure_eval==0.2.3
PySocks==1.7.1
atomics==1.0.3
beautifulsoup4==4.13.3
imageio==2.37.0
GitPython==3.1.44
fastjsonschema==2.21.1
SimpleITK==2.4.1
dask-image==2024.5.3
parso==0.8.4
yarl==1.18.3
pycparser==2.22
connected-components-3d==3.23.0
jupyter_core==5.7.2
acvl_utils==0.2.5
Brotli==1.0.9
websocket-client==1.8.0
ml_dtypes==0.5.1
anyio==4.9.0
Jinja2==3.1.6
seaborn==0.13.2
edt==3.0.0
widgetsnbextension==4.0.13
partd==1.4.2
future==1.0.0
tensorstore==0.1.73
charset-normalizer==3.3.2
scipy==1.15.2
batchgenerators==0.25.1
nnunetv2==2.5.1
mkl-service==2.4.0
joblib==1.4.2
ipykernel==6.29.5
nbformat==5.10.4
pydicom==3.0.1
ptyprocess==0.7.0
nest-asyncio==1.6.0
requests==2.32.3
tifffile==2025.3.30
decorator==5.2.1
httpx==0.28.1
asttokens==3.0.0
python-dateutil==2.9.0.post0
locket==1.0.0
gmpy2==2.2.1
ndindex==1.9.2
lazy_loader==0.4
pandas==2.2.3
argon2-cffi-bindings==21.2.0
pyparsing==3.2.3
python-json-logger==3.3.0
vesuvius==0.1.10
pyarrow==19.0.1
MarkupSafe==3.0.2
ipywidgets==8.1.5
contourpy==1.3.1
cloudpickle==3.1.1
sentry-sdk==2.25.1
nbclient==0.10.2
dynamic_network_architectures==0.3.1
scikit-image==0.25.2
fft-conv-pytorch==1.2.0
python-gdcm==3.0.24.1
async-lru==2.0.5
mkl_fft==1.3.11
annotated-types==0.7.0
comm==0.2.2
fasteners==0.19
multidict==6.3.2
filelock==3.13.1
yacs==0.1.8
slicerator==1.1.0
tblib==3.1.0
imagecodecs==2025.3.30
attrs==25.3.0
click==8.1.8
aiosignal==1.3.2
jupyter-console==6.6.3
six==1.17.0
numexpr==2.10.2
mkl_random==1.2.8
isoduration==20.11.0
exceptiongroup==1.2.2
nbconvert==7.16.6
pillow==11.1.0
torch==2.4.0
sortedcontainers==2.4.0
uri-template==1.3.0
mistune==3.1.3
einops==0.8.1
arrow==1.3.0
jupyter_client==8.6.3
dask==2025.3.0
jupyterlab_pygments==0.3.0
terminado==0.18.1
fonttools==4.57.0
autocommand==2.2.2
jaraco.functools==4.0.1
backports.tarfile==1.2.0
inflect==7.3.1
importlib_metadata==8.0.0
typing_extensions==4.12.2
packaging==24.2
platformdirs==4.2.2
zipp==3.19.2
jaraco.context==5.3.0
wheel==0.43.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
tomli==2.0.1
more-itertools==10.3.0
typeguard==4.3.0
